body {
   --bg-color: #ffffff;
   --bg-hero: #2f303a;
   --footer-color: #2f303a;

   --title: #212121;
   --link: #212121;
   --text-color: #757575;

   --white: #ffffff;
   --black: #000000;
   --blue: #2196f3;
   --grey: #f5f4fa;
   --border: #ececec;

   font-family: "Roboto", sans-serif;
   color: var(--text-color);
}

/* Служебные классы */

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

ul {
   margin: 0;
   padding: 0;
}

.container {
   width: 1200px;

   padding-left: 15px;
   padding-right: 15px;

   margin-left: auto;
   margin-right: auto;
}

.section {
   padding: 94px 0px;
}

.button {
   display: inline-block;
   cursor: pointer;

   font-family: "Roboto", sans-serif;

   border: 0px;
   outline: 0px;
   box-shadow: 0px;

   border-radius: 4px;
}

.list {
   list-style: none;
}

.item + .item {
   margin-left: 30px;
}

.title-section {
   font-size: 36px;
   line-height: 1.7em;

   text-align: center;
   margin-bottom: 50px;
}

.title {
   font-weight: 700;
   color: var(--title);
   letter-spacing: 0.03em;
}

/* HEADER */

.header {
   border-bottom: 1px solid var(--border);
}

.nav {
   display: flex;
   align-items: center;
}

.nav-menu {
   display: flex;
   align-items: center;
}

.nav-item {
   display: flex;
}

.nav-item .link {
   display: block;
   padding: 30px 0px;
}

.nav-item .item + .item {
   margin-left: 50px;
}

.nav-contact .link-contact + .link-contact {
   margin-left: 50px;
}

.nav-contact {
   display: flex;
   margin-left: auto;
}

.nav-contact .link {
   display: block;
   padding: 30px 0px;
}

.logo {
   font-family: "Raleway", sans-serif;
   font-size: 26px;
   line-height: 1.2em;
   font-weight: 700;

   color: var(--black);
   text-decoration: none;

   margin-right: 93px;
}

.logo-color {
   color: var(--blue);
}

.link {
   font-size: 14px;
   line-height: 1.4em;
   font-weight: 500;
   letter-spacing: 0.02em;

   color: var(--link);
   text-decoration: none;
}

.link:hover,
.link:focus {
   color: var(--blue);
}

.link-contact {
   color: var(--text-color);
}

/* SECTION HERO */

.section-hero {
   background: var(--bg-hero);

   text-align: center;
}

.title-hero {
   font-size: 44px;
   line-height: 1.4em;
   font-weight: 900;
   letter-spacing: 0.06em;

   color: var(--white);
   text-transform: uppercase;

   margin-bottom: 50px;
}

.button-hero {
   font-size: 16px;
   line-height: 1.875em;
   font-weight: 700;
   letter-spacing: 0.06em;

   color: var(--white);
   background-color: var(--blue);

   padding: 10px 32px;
}

/* SECTION FEATURE */

.feature-list {
   display: flex;
}

.feature-list .item {
   width: 270px;
}

.title-feature {
   font-size: 14px;
   line-height: 1.4em;

   text-transform: uppercase;
   margin-bottom: 10px;
}

.text-feature {
   font-size: 14px;
   line-height: 1.7em;

   margin: 0px;
}

/* SECTION ABOUT */

.about-list {
   display: flex;
}

/* SECTION TEAM */

.section-team {
   background: var(--grey);
}

.team-list {
   display: flex;
   text-align: center;
}

.title-team {
   font-size: 16px;
   line-height: 1.1875em;

   margin-bottom: 10px;
}

.text {
   letter-spacing: 0.03em;
}

.text-team {
   font-size: 16px;
   line-height: 1.1875em;

   margin: 0px;
}

.image-team {
   margin-bottom: 30px;
}

.team-list .item {
   background: var(--white);
   
   padding-bottom: 30px;
   border-radius: 4px;
}

/* FOOTER */

.footer {
   padding: 60px 0px;
   background: var(--footer-color);
}

.logo-footer {
   color: var(--white);
}

.address {
   font-style: normal;
}

.text-address {
   font-size: 14px;
   line-height: 1.7em;
   color: var(--white);

   margin-top: 20px;
   margin-bottom: 0px;
}

.footer-contact {
   display: inline-block;

   font-size: 14px;
   line-height: 1.7em;
   font-weight: 400;
   letter-spacing: 0.03em;

   color: rgba(255, 255, 255, 60%);
   text-decoration: none;

   margin-top: 5px;
}

/* SECTION PORTFOLIO */

.title-portfolio {
   font-size: 18px;
   line-height: 2em;
   letter-spacing: 0.06em;
}

.list-filter {
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
}

.list-filter .item + .item {
   margin-left: 8px;
}

.text-filter {
   font-size: 16px;
   line-height: 1.875em;

   margin: 0px;
}

.button-filter {
   font-size: 16px;
   line-height: 1.625em;
   font-weight: 500;
   letter-spacing: 0.03em;

   color: var(--link);
   background: var(--grey);

   padding: 6px 22px;
}

.button-filter:hover {
   color: var(--white);
   background: var(--blue);
}

.list-portfolio {
   display: flex;
   flex-wrap: wrap;
}

.item-portfolio {
   margin-right: 30px;
   border-bottom: 1px solid var(--border);
   margin-bottom: 30px;
}

.item-portfolio img {
   display: block;
}

.item-portfolio:nth-child(3n) {
   margin-right: 0px;
}

.info-portfolio {
   padding: 20px 24px;
}
